# Override some defaults in mesh application project.

# FreeRTOS
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3072

# LWIP
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y

# ESP System Settings
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096

# ESP Wi-Fi Mesh Lite
CONFIG_MESH_LITE_ENABLE=y

# Bridge Configuration
CONFIG_BRIDGE_SOFTAP_SSID_END_WITH_THE_MAC=y # To distinguish the softap of different Mesh devices, it is recommended to enable this option, but it is not mandatory
